<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %> 
    <link rel="stylesheet" href="/assets/stylesheets/auth.css">
    <title>Register</title>
</head>
<body>
    <div class="header">
        <%- include('./partials/header.ejs') %>
    </div>
    <div id="main-register">
        <form action="/auth/register" method="POST" id="reg-form">
            <div class="input-field">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="input-field">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-field">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="input-field">
                <label for="permLevel">Permission Level</label>
                <select id="permLevel" name="permLevel" form="reg-form">
                    <option value="1">Driver</option>
                    <option value="2">Manager</option>
                    <option value="3">Admin</option>
                    <option value="4">Dealer</option>
                </select>
            </div>
            <% if (possibleParents !== null){ %> 
            <div class="input-field">
                <label for="parentAcc">Parent Account</label>
                <select name="parentAcc" id="parentAcc">
                    <option value="null">Fleet Witness Main</option>
                    <% for (let i=0; i < possibleParents.length; i++){ %>
                        <option value="<%= possibleParents[i].username %>"><%= possibleParents[i].username %></option>
                    <% } %> 
                </select>
            </div>
            <% } %> 
            <div class="error">
                <% if (messages.error){ %>
                    <%= messages.error %>
                <% } %> 
            </div>
            <div class="secondary-input-field">
                <button type="submit" class="btn btn-light">Register User</button>
            </div>
        </form>
    </div>
    <footer class="footer">
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>
</html>
